<%- include("__header") %>
<div class="container-fluid">
 <%- include("__logoAndNavHome") %>
 <hr class="gradient-hr nav">
 <div class="row justify-content-center">
    <div class="card card-custom">
        <div class="card-body title-section row">
            <!-- Text Section -->
             <div class="contact-info d-flex justify-content-center align-items-center ">
        
        
          <p><i class="fas fa-phone-alt"></i>
         <span class="px-2"> 0762030566</span><br class="contact-info d-block d-md-none">
         
          <i class="fas fa-envelope"></i>
         <span class="px-2"> info@nsrpro.co.za </span><br class="contact-info d-block d-md-none">

         <i class="fa-regular fa-clock"></i>
        <span>Mon - Thur: 07:00 - 16:00</span><br class="contact-info d-block d-md-none">
        <i class="fa-regular fa-clock"></i>
           <span>Fri: 07:00 - 13:00 </span><br class="contact-info d-block d-md-none">
        
         <i class="fas fa-phone-alt"></i>
         <span>After Hours: (Steph <span class="px-4 px-md-0 px-lg-0">Roberts):0824002688</span></span> <br class="contact-info d-block d-md-none">
        </p>
         
      </div>  
            <div class="col-md-6 col-sm-12 d-flex order-sm-2 order-md-1 align-items-center justify-content-center">
                <h4>
                    At NSR Pro, we take pride in delivering exceptional construction and home improvement services 
                    that transform your living and working spaces. With a commitment to quality, reliability, and customer 
                    satisfaction, our team of skilled professionals is here to meet all your renovation and maintenance needs.
                </h4> 
            </div>
            <!-- Image Section -->
            <div class="col-md-6 col-sm-12 d-flex flex-column flex-md-row align-items-center order-md-2 order-sm-1 ">
                <img src="images/NSR logo HD.png" alt="NSR Logo" class="img-fluid service-images">
                <img src="images/nhbrc_logo.jpg" alt="NHBRC Registered" class="img-fluid  nhbrc-image">
            </div>
        </div>
    </div>
</div>
 
      <p>
        <h2>Discover what we can do for you:</h2>
      </p>
      <div class="row g-4 row-cols-1 row-cols-lg-3">
        <div class="col">
            <div class="card h-100 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Construction</h3>
                    <p class="card-text">
                        NSR Pro specializes in high-quality construction services tailored to meet your unique needs.
                         From residential homes to commercial buildings, our experienced team ensures every project is completed with precision, on time,
                          and within budget. 
                    </p>
                    <a href="/construction" type="button" class="btn btn-maroon">
                        Get Quote
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100  rounded-3 shadow-sm custom-border-color">
                <div class="card-body">
                   
                    <h3 class="card-title fs-2 text-body-emphasis">Electrical</h3>
                    <p class="card-text">
                        Ensure the safety and functionality of your electrical systems with our comprehensive electrical services.
                         Our certified electricians handle everything from simple repairs to complete system upgrades.
                    </p>
                    <a href="/electrical" type="button" class="btn btn-maroon">
                        Get Quote
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 mb-2 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Painting</h3>
                    <p class="card-text">
                        Add a splash of color to your life with our professional painting services. Our skilled painters use high-quality
                         materials to give your interiors and exteriors a fresh, vibrant look.
                    </p>
                    <a href="/painting" type="button" class="btn btn-maroon">
                        Get Quote
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100  rounded-3 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Plumbing</h3>
                    <p class="card-text">
                        From leaky faucets to complex plumbing installations, our experienced plumbers provide prompt and efficient solutions.
                         Trust NSR Pro to keep your water systems running smoothly.
                    </p>
                    <a href="plumbing" type="button" class="btn btn-maroon">
                        Get Quote
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Property Developments</h3> <!--word link na properrty website -->
                    <p class="card-text">
                        Discover your dream home with NSR Pro’s new property developments in Bloemfontein. We offer a 
                        range of modern, well-designed properties that cater to various lifestyles and preferences. 
                        Whether you’re looking for a family home or an investment opportunity, our developments provide
                        the perfect blend of comfort, style, and convenience.
                    </p>
                    <!-- <a href="/maintenance" type="button" class="btn btn-maroon">
                        Get Quote
                    </a> -->
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Renovation & Maintenance</h3>
                    <p class="card-text">
                        Regular maintenance is key to preserving the value and longevity of your property. NSR Pro offers routine maintenance 
                        services to keep your home or business in pristine condition.
                    </p>
                    <a href="/renovation_&_maintenance" type="button" class="btn btn-maroon">
                        Get Quote
                    </a>
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card h-100  rounded-3 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Roofing & Waterproofing</h3>
                    <p class="card-text">
                        Protect your property with NSR Pro’s roofing and waterproofing services.
                         Our team offers comprehensive roofing solutions, from installations to repairs, ensuring your
                          roof is durable and weather-resistant. 
                    </p>
                    <a href="/roofing_&_waterproofing" type="button" class="btn btn-maroon">
                        Get Quote
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100  rounded-3 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">Solar</h3>
                    <p class="card-text">
                        Embrace sustainable energy with NSR Pro’s solar solutions. Our experts design and install efficient solar power 
                        systems tailored to your energy needs. By switching to solar, you can reduce your carbon footprint, lower your
                         energy bills, and enjoy reliable, renewable energy for years to come.
                        
                    </p>
                    <a href="/solar" type="button" class="btn btn-maroon">
                        Get Quote
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-3 shadow-sm custom-border-color">
                <div class="card-body">
                    <h3 class="card-title fs-2 text-body-emphasis">Real Estate - Premium Homes</h3>
                    <p class="card-text">
                        Discover comprehensive real estate services. We specialize in Selling, Rentals, and Property Evaluations to meet all your 
                        real estate needs. Whether you're looking to sell,
                         rent, or assess the value of your property, our experienced team is here to guide you every step of the way.
                    </p>
                    <a href="/real_estate" type="button" class="btn btn-maroon">
                        Get Quote
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 rounded-3 shadow-sm custom-border-color">
                <div class="card-body">
                    <h3 class="card-title fs-2 text-body-emphasis">Accounting Services - Bean Counters</h3>
                    <p class="card-text">
                        Accounting, Tax and CIPC Compliance. Start your own business or maintain the financial records and compliance of your current business all in one place.
                    </p>
                    <a href="/accounting" type="button" class="btn btn-maroon">
                        Get Quote
                    </a>
                </div>
            </div>
        </div>
        <!-- IT services -->
        <div class="col">
            <div class="card h-100  rounded-3 shadow-sm custom-border-color">
                <div class="card-body">
                    
                    <h3 class="card-title fs-2 text-body-emphasis">IT Services</h3>
                    <p class="card-text">
                        At NSR Pro, we deliver top-notch IT services to boost your business's digital presence and security. 
                        From custom web development to essential software packages like antivirus, internet security, and Microsoft Office, 
                        we provide everything you need to thrive online. Trust NSR Pro to build and protect your digital foundation.
                    </p>
                    <a href="it_services" type="button" class="btn btn-maroon">
                        Get Quote
                    </a>
                </div>
            </div>
        </div>
    </div>
         
<div >
  <button id="topScrollBtn" class="btn btn-maroon"  onclick="goToTop()">Go to top</button>
</div>

<div>
    <!-- completed projects section -->
     <hr class="gradient-hr">
     <h2 class="testimonialHeader d-flex justify-content-center "> Completed Projects</h2>
     <div class="hr-container d-flex justify-content-center">
        <hr class="gradient-hr-testimonial">
     </div>
     
</div>
<!-- carousal -->
<div id="demo" class="carousel slide mb-2 py-2" data-bs-ride="carousel" data-bs-interval="3000">
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <!-- Loop through items in db and display each item -->
        <% for (let i = 0; i < carousalData.length; i++) { %>
            <div class="carousel-item mt-3 <%= i === 0 ? 'active' : '' %>">
                <div class="carousalcontainer">
                    <div class="card-body carousal">
                        <h3 class="item-heading"><%= carousalData[i].heading %></h3>
                        <img class="projectGallery" src="<%= carousalData[i].url %>" alt="">
                    </div>
                </div>   
            </div>
        <% } %>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<div>
    <!-- Testimonial section -->
     <hr class="gradient-hr">
     <h2 class="testimonialHeader d-flex justify-content-center "> Testimonials</h2>
     <div class="hr-container d-flex justify-content-center">
        <hr class="gradient-hr-testimonial">
     </div>

</div>
<!-- carousal -->
<div id="demo" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">


    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <!-- loop through items in db and display each item -->
        <% for (let i = 0; i < testimonials.length; i++) { %>
            <div class="carousel-item mt-3 <%= i === 0 ? 'active' : '' %>">
                <div class="carousalcontainer">
                    <div class="card-body carousal">
                        <h3 class="item-heading"><%= testimonials[i].heading %></h3>
                        <p class="card-text carousal mb-3">
                            <%= testimonials[i].content %>
                        </p>
                    </div>
                </div>   
            </div>
        <% } %>
        
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        </button>
    </div>

<%- include("__footer") %>